<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritek.freshwalls">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.ritek.freshwalls.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <service
            android:name="com.ritek.freshwalls.services.VideoWallpaperService"
            android:label="Video live wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>
        <service
            android:name="com.ritek.freshwalls.services.VideoLiveWallpaper"
            android:label="MultiLWP(Video)"
            android:permission="android.permission.BIND_WALLPAPER"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>
        <service
            android:name="com.ritek.freshwalls.services.GIFLiveWallpaper"
            android:label="MultiLWP(GIF)"
            android:permission="android.permission.BIND_WALLPAPER"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.ritek.freshwalls.services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ritek.freshwalls.services.NotifFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ritek.freshwalls.ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.PermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ritek.freshwalls.ui.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.PolicyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.SupportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.EditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.WallActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.VideoActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.EditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.GifActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.ColorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.PacksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ritek.freshwalls.ui.activities.PackActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name="com.ritek.freshwalls.ui.activities.UploadVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.UploadImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.ritek.freshwalls.ui.activities.UploadGifActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
    </application>

</manifest>